*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: white;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    height: 800px;   
}
#header_image{
    height: 750px;
    display: flex;
    justify-content: center;
    position: relative;
}
#header_image::before{
    content: '';
    background-image: url(https://www.spotmytrip.com/cms/uploads/hotels/gallery/h8.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.65;
}
h1{
    margin: 5px;
    padding: 110px 50px 15px 0px;
    text-align: center;
    position:  relative;
}
nav{
    padding: 15px 0px 0px 0px;
    height: 30px;
    border: 2px solid rgb(167, 164, 164);
    background-image: url(https://www.spotmytrip.com/cms/uploads/hotels/gallery/h8.jpg);
    background-color: #fadddd;
    background-blend-mode: lighten;
}
.nav_items{
    display: flex;
    justify-content: space-evenly;    
}
.nav_items i{
    display: none;
}
.nav_items a:hover{
    color: rgb(255, 255, 255);
}
.nav_items a{
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;  
}

/* ------------------------------------------------------------------------------------------------------------------ */

h2{
    color: rgb(19, 18, 18);
    padding-top: 10px;
    padding-left: 2px;
}

article{
    padding-left: 2px;
    font-weight: 500;
    color: rgb(14, 14, 14);
    padding-top: 10px;
    margin: 0px 5px 5px 2px;
}
.policies> p{
    margin: 5px 0px 5px 2px;
}

address>a{
    text-decoration: none;
    }
    a[href^='mailto']::before {
        content: '📧 ';
        padding-left: 2px;
    }
    
    a[href^='tel']::before {
        content: '📞 ';
        padding-left: 2px;
    }

/* -------------------------------------------------------------------------------------------------------------- */
footer img{
    height: 60px;
    width: 60px;
    mix-blend-mode: darken;
}
#facebook{
    height: 50px;
    width: 50px;
    padding-top: 5px;
} 

h3{
    padding: 5px 0px 0px 2px ;
    margin: 10px 0px 5px 0px;
}
footer .social_media{
    display: flex;
    
}
.social_media a{
    padding: 0px 0px 0px 2px;
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: none;
}
footer .p2{
    background-color: black;
    color: white;
    margin: 10px 0px 0px 0px;
    padding:5px 0px 5px 0px ;
    text-align: center;
}
#developerName{
    background-color: black;
    color: white;
    padding:5px 0px 5px 0px ;
    text-align: center;
}

map{
    display: flex;
    padding: 5px;
    justify-content: center;
    padding: 0px 0px 0px 2px;
    background-color: black;
}
/*------------------------------------------------------------------------------------ */

@media(max-width: 600px ){
    .body{
        font-size: larger;
        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
    }
    h3{
        text-align: left;
    }
    .nav_items{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .nav_items i{
        display: inline-block;
        font-size: larger;
        border: 2px solid black;
        border-radius: 5px;
        text-align: center;
        font-weight: 800;
        margin: 2px 4px 2px 2px;
    }
    .nav_items a{
        display: none;
    }
    header{
        width: 100vb;
    }
    .policies{
        text-align: left;
        width: 100vb;

    }
    address{
        text-align: left;
    }
}


